@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&family=Abril+Fatface&family=Agbalumo&family=Bebas+Neue&family=Inconsolata:wght@200..900&family=Protest+Revolution&family=Protest+Riot&display=swap');

.skillName{
    font-family: 'Akshar';
    font-size: 30px;
    font-weight: 600;
}

.skillsContainer{
    border-radius: 10px;
}

.skills-img{
    height: 150px;
}

.companyName:hover{
    text-decoration: underline;
}

.companyName{
    color: rgb(133, 133, 133);
    text-decoration: none;
}

.certifiactedCompany{
    color: rgb(133, 133, 133);
}

.skillsDescription{
    font-family: 'Inconsolata';
    font-size: 20px;
}

.SkillsHeading{
    font-family: 'Akshar';
    font-size: 40px;
}

.skills-section{
    background-image: url('https://img.freepik.com/premium-photo/white-paper-texture-background-cardboard-surface-from-paper-box-packing-designs-decoration-nature-background-concept_707519-16138.jpg?w=900');
    background-size: cover;
}

.viewAllText:hover{
    cursor: pointer;
    text-decoration: underline;
}

.viewAllText{
    font-family: 'Inconsolata';
    font-size: 28px;
    text-decoration: none;
}

.credentialIDText:hover{
    cursor: pointer;
}

.credentialIDText{
    text-decoration: none;
}

.credentialID{
    font-family: Arial;
    font-size: 20px;
}

.credentialsLinks:hover{
    cursor: pointer;
}

.credentialsLinks{
    font-family: Arial;
    font-size: 20px;
    text-decoration: none;
}

.CertificateMainsHeading{
    font-family: 'Akshar';
    font-size: 30px;
}

.CertificatesHeading{
    font-family: 'Akshar';
    font-size: 40px;
}

.certificateContainer{
    background-color: white;
    border-radius: 10px;
    height: 100%;
}

.certificates-section{
    background-image: url('https://img.freepik.com/premium-photo/white-paper-texture-background-cardboard-surface-from-paper-box-packing-designs-decoration-nature-background-concept_707519-16138.jpg?w=900');
    background-size: cover;
}

.descriptionHighlight{
    color: rgb(31, 31, 233);
}

.AboutMeDescription{
    font-family: 'Inconsolata';
    font-size: 22px;
}

.AboutMeHeading{
    font-family: 'Akshar';
    font-size: 40px;
    font-weight: 500;
}

.aboutme-section{
    background-image: url('https://img.freepik.com/premium-photo/white-paper-texture-background-cardboard-surface-from-paper-box-packing-designs-decoration-nature-background-concept_707519-16138.jpg?w=900');
    background-size: cover;
}

.descriptionAboutMe{
    font-family: 'Inconsolata';
    font-size: 20px;
}

.mainHeading{
    font-family: 'Inconsolata';
    font-size: 50px;
}

.landingPage-section{
    height: 100vh;
    background-image: url('https://img.freepik.com/free-psd/ripped-paper-background-mockup-psd-earth-tone-diy-craft_53876-130044.jpg?w=996&t=st=1712681620~exp=1712682220~hmac=41638f2a9bf34697063a982683fab535e4816f97b0045e42fbda5510d51cb234');
    background-size: cover;
    width: 100%;
}

.highlight{
    color: rgb(199, 0, 0);
    font-family: 'Bebas Neue';
}

.mylogo{
    font-family: 'Bebas Neue';
    color: rgb(237, 235, 235);
    font-size: 50px;
}

.text{
    color: rgb(237, 235, 235)!important;
    font-family: 'Inconsolata';
    font-size: 25px;
}